@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&display=swap');

* {
  font-family: 'Kaisei Tokumin', serif;
}

body{
    min-height: 100vh;
}

.icon-large {
    font-size: 2em;
}

.card-img-top{
    height: 60vh;
    width: 40vw;
    transition: all .45s;
  }

  .card-img-top:hover{
    transform: scale(1.1);
  }

  .product-card {
    transition: all .45s;
  }

  .product-card img {
    max-width: 100%;
    /* height: auto; */
    transition: all .45s;
  }
