.card-img-top{
    height: 20rem;
    transition: all .45s;
  }
  
  .card-img-top:hover{
    transform: scale(1.1);
  }
  
  .product-card {
    transition: all .45s;
  }
  
  .product-card img {
    max-width: 100%;
    /* height: auto; */
    transition: all .45s;
  }
  